<div class="relative home">

  <div class="content-top ">
    <div class="content-top-title js-top-title">
      <span>
        Rules of Optimization:
      </span>
      <span>
        Rule 1: Don't do it.
      </span>
      <span>
        Rule 2 (for experts only): Don't do it yet.
      </span>
    </div>
  </div>

  <div class="content-body">
    <div class="home-background js-cover js-home-background imgLiquid_bgSize imgLiquid_ready">
      <img src="/assets/album_Oobo.jpg">
      <div class="home-background-fade js-home-background-fade"></div>
      <div class="home-album-info js-fake-album-info">
        <div class="year-tag">2016</div>
        <h2>Oobopopop</h2>
      </div>
    </div>

    <div class="home-scroll-text">
      <div class="home-scroll-text-container js-text-scroll-trigger text-center">
        <div class="home-scroll-text-top js-text-scroll-top">Oobopopop</div>
        <div class="home-scroll-text-bottom js-text-scroll-bottom">is out now</div>
      </div>
    </div>

    <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer">
      <div class="js-zoom-out-trigger above-1">
        <div class="home-album-featured js-zoom-out-trigger section">
          <div class="home-album-featured-container">
            <div class="home-album-featured-center js-zoom-out-fade">
              <div class="row row-align-center row-align-top">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer">
      <div id="old_albums" class="home-album-list-placeholder js-album-list hide@tablet">
        <div class="home-album-list js-album-list-fixed">
          <div class="home-album-list-slider js-album-list-slider">
            <div class="home-album js-album-list-album">
              <div class="background js-cover imgLiquid_bgSize imgLiquid_ready">
                <img class="home-album-cover" src="/assets/album_Oobo.jpg">
              </div>

              <div class="home-album-info js-album-info">
                <div class="year-tag">2016</div>
                <h2>Oobopopop</h2>
              </div>
            </div>

            <div class="home-album js-album-list-album">
              <div class="background js-cover imgLiquid_bgSize imgLiquid_ready">
                <img class="home-album-cover" src="/assets/bellevuelow.jpg" alt="">
              </div>

              <div class="home-album-info js-album-info">
                <div class="year-tag">2013</div>
                <h2>Bellevue</h2>
              </div>

              <div class="home-album-overlay js-overlay">
                <button class="home-album-overlay__back-btn js-album-overlay-close">
                </button>
                <div class="home-album-overlay__background"></div>
                <div class="home-album-overlay__title text-center">Bellevue</div>

                <div class="headline text-center">Get this album on</div>
                <ul class="home-album-overlay__list text-center">
                  <li><a href="https://itunes.apple.com/ca/album/bellevue/id1108763951?l=fr" target="_blank">iTunes</a>
                  </li>
                  <li><a
                    href="https://play.google.com/store/music/album/Valaire_Bellevue?id=Bc7oqbahahfb3thxoy4mzrprkam&amp;hl=fr"
                    target="_blank">Google Play</a></li>
                  <li><a href="https://open.spotify.com/album/0BXnsYe0dWPNwWwyEh6Pyt" target="_blank">Spotify</a></li>
                  <li><a href="https://amzn.com/B00EV2ONOW" target="_blank">Amazon</a></li>
                  <li><a href="https://soundcloud.com/valairemusic/sets/bellevue" target="_blank">Soundcloud</a></li>
                  <li><a href="https://tidal.com/album/22116833" target="_blank">Tidal</a></li>
                </ul>
              </div>

            </div>

            <div class="home-album js-album-list-album">
              <div class="background js-cover imgLiquid_bgSize imgLiquid_ready">
                <img class="home-album-cover" src="/assets/album_golden.jpg" alt="">
              </div>

              <div class="home-album-info js-album-info">
                <div class="year-tag">2010</div>
                <h2>Golden Bombay</h2>
              </div>

              <div class="home-album-overlay js-overlay">
                <button class="home-album-overlay__back-btn js-album-overlay-close">
                </button>
                <div class="home-album-overlay__background"></div>
                <div class="home-album-overlay__title text-center">Golden Bombay</div>

                <div class="headline text-center">Get this album on</div>
                <ul class="home-album-overlay__list text-center">
                  <li>
                    <a href="https://itunes.apple.com/ca/album/golden-bombay/id1108764212?l=fr"
                       target="_blank">iTunes</a>
                  </li>
                  <li>
                    <a
                      href="https://play.google.com/store/music/album/Valaire_Golden_Bombay?id=Bh27zrg5b7tzihlgshhl2awb7pa&amp;hl=fr"
                      target="_blank">Google Play</a>
                  </li>
                  <li>
                    <a href="https://open.spotify.com/album/5J9jEOjCmOvcrxgZYV2dM8" target="_blank">Spotify</a>
                  </li>
                  <li>
                    <a href="https://amzn.com/B01F2RX78M" target="_blank">Amazon</a>
                  </li>
                  <li>
                    <a href="https://soundcloud.com/valairemusic/sets/golden-bombay" target="_blank">Soundcloud</a>
                  </li>
                  <li>
                    <a href="https://tidal.com/album/17786174" target="_blank">Tidal</a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="home-album js-album-list-album">
              <div class="background js-cover imgLiquid_bgSize imgLiquid_ready">
                <img class="home-album-cover" src="/assets/single_1.jpg" alt="">
              </div>

              <div class="home-album-info js-album-info">
                <div class="year-tag"></div>
                <h2>L'amour est un monstre</h2>
              </div>

              <div class="home-album-overlay js-overlay">
                <button class="home-album-overlay__back-btn js-album-overlay-close">
                </button>
                <div class="home-album-overlay__background"></div>
                <div class="home-album-overlay__title text-center">L'amour est un monstre</div>

                <div class="headline text-center">Get this song on</div>
                <ul class="home-album-overlay__list text-center">
                  <li>
                    <a href="https://itunes.apple.com/ca/album/lamour-est-monstre-feat.-karim/id1108763548?l=fr"
                       target="_blank">iTunes</a>
                  </li>
                  <li><a
                    href="https://play.google.com/store/music/album/Valaire_L_amour_est_un_monstre_feat_Karim_Ouellet?id=Byrtur4jy4qo35zuy2nwkstzqhq&amp;hl=fr"
                    target="_blank">Google Play</a>
                  </li>
                  <li>
                    <a href="https://open.spotify.com/album/71FzzOsek8LGDp2eWf4mfo" target="_blank">Spotify</a>
                  </li>
                  <li>
                    <a
                      href="https://www.amazon.com/Lamour-monstre-feat-Karim-Ouellet/dp/B00N4XRS0U/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1472570430&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=l%27amour+est+un+monstre"
                      target="_blank">Amazon</a>
                  </li>
                  <li>
                    <a href="https://soundcloud.com/valairemusic/lamour-est-un-monstre" target="_blank">Soundcloud</a>
                  </li>
                  <li>
                    <a href="https://tidal.com/track/33709168" target="_blank">Tidal</a>
                  </li>
                </ul>

              </div>

            </div>
            <div class="home-album home-album-cover-flow-container js-album-list-album"
                 style="opacity: 0.758273; transform: translate3d(0px, 0px, 0px) scale(0.879136, 0.879136);">
              <div class="home-album-cover-flow js-cover-flow" style="perspective-origin: 53.824% 50%;">
                <div class="home-album-cover-flow-single">
                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">
                  <img src="/assets/album_golden.jpg">


                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
                <div class="home-album-cover-flow-single">
                  <img src="/assets/album_golden.jpg">


                </div>
                <div class="home-album-cover-flow-single">
                  <img src="/assets/album_golden.jpg">


                </div>
                <div class="home-album-cover-flow-single">

                  <img src="/assets/album_golden.jpg">

                </div>
              </div>

              <div class="home-album-info js-album-info" style="margin-left: -31.0952%;">
                <a href="http://valaire.mu/music/" class="c-orange huge-link">Complete discography
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="mouse-scroll js-mouse-scroll" style="margin-top: -48px; opacity: 1;">
  <div class="mouse-scroll-text">Scroll to discover</div>
  <div class="mouse-scroll-anim"></div>
</div>

<div class="side-menu no-label js-side-menu" style="display: block;">
  <div class="side-menu-current-label-wrapper">
    <div class="side-menu-current-label js-scroll-spy-current">old is the new new
    </div>
  </div>


  <a class="side-menu-item js-scroll-spy" id="scroll-spy-new_album" href="#new_album" data-no-ajax="">
    <div class="side-menu-label">New Album</div>
  </a>

  <div class="side-menu-separator"></div>


  <a class="side-menu-item js-scroll-spy spy-active" id="scroll-spy-old_albums" href="#old_albums" data-no-ajax="">
    <div class="side-menu-label">Old is the new new</div>
  </a>

  <div class="side-menu-separator"></div>


  <a class="side-menu-item js-scroll-spy" id="scroll-spy-fb" href="#fb" data-no-ajax="">
    <div class="side-menu-label">Via Facebook</div>
  </a>

  <div class="side-menu-separator"></div>


  <a class="side-menu-item js-scroll-spy" id="scroll-spy-shows" href="#shows" data-no-ajax="">
    <div class="side-menu-label">Shows</div>
  </a>

  <div class="side-menu-separator"></div>


  <a class="side-menu-item js-scroll-spy" id="scroll-spy-merch" href="#merch" data-no-ajax="">
    <div class="side-menu-label">Merch</div>
  </a>


</div>

