<div class="header">
  <div class="header-container">
    <div class="header-logo-col">
      <a href="" class="header-logo-link">
        <span class="">TechBoost</span>
      </a>
    </div>

    <div class="hide@tablet">
      <ul id="menu-principal" class="menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">Case</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">Customer</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">Tech</a></li>
      </ul>
    </div>

    <div class="hide@tablet menu-meta">
      <ul id="menu-meta" class="menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">About</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">Contact</a></li>
      </ul>
    </div>

    <div class="hide@tablet header-cta-button js-header-btn-container">
      <a href="" class="header-btn js-header-btn" style="display: none;">
        <span class="header-btn-label js-header-btn-label"
              style="margin-left: -263px;">Our new album Oobopopop out now</span>
        <span class="header-btn-label __copy">Our new album Oobopopop out now</span></a>
      <a href="" class="header-btn-lang js-header-lang" style="display: block;">
        fr
      </a>
    </div>

    <div class="mobile-menu-items hide show@tablet">
      <div class="locales-links">
        <a href="" class="menu-link">fr</a>
      </div>
      <button class="m-mobile-menu-trigger js-menu-mobile-trigger">
        <span class="m-mobile-menu-trigger__middle-bar"></span>
      </button>
    </div>

  </div>
</div>
