@import 'normalize';

.header {
  padding: 3em 0 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-box-shadow: 0 0 8em 8em rgba(11,10,16,0.4);
  box-shadow: 0 0 8em 8em rgba(11,10,16,0.4);
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table;
}

.header-cta-button:after {
  clear: both;
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table;
}

.header-container {
  position: relative;
  z-index: 0;
  padding: 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 1s;
  transition: background 1s;
}

.header-logo-link {
  font-size: 5.6rem;
  line-height: 1;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.header-logo-link [class^=icon-], .header-logo-link [class*=" icon-"] {
  display: block;
}


.header-btn {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  border: .13333em solid #fff;
  padding: .46667em .66667em;
  text-decoration: none;
  max-width: 16.66667em;
}

.header-btn-lang {
  font-size: 1.1rem;
  border: .18182em solid #fff;
  padding: .81818em;
  text-decoration: none;
  text-transform: uppercase;
}

.header-btn-lang, .header-btn {
  display: block;
  float: right;
  font-weight: bold;
  -webkit-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
  position: relative;
  z-index: 0;
}

.header-cta-button {
  min-height: 1px;
  zoom: 1;
  overflow: visible !important
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table
}

.header-cta-button:after {
  clear: both
}

.header-btn-lang, .header-btn {
  display: block;
  float: right;
  font-weight: bold;
  -webkit-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
  position: relative;
  z-index: 0
}

.header-btn-lang:after, .header-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: top 0.3s, height 0.3s, background 1s;
  transition: top 0.3s, height 0.3s, background 1s
}

.mode-green .header-btn-lang:after, .mode-green .header-btn:after {
  background: #f2ad82
}

.header-btn-lang:hover, .header-btn:hover {
  color: #0b0a10
}

.mode-green .header-btn-lang:hover, .mode-green .header-btn:hover {
  color: #224227
}

.mode-orange .header-btn-lang:hover, .mode-orange .header-btn:hover {
  color: #0b0a10
}

.header-btn-lang:hover:after, .header-btn:hover:after {
  top: 0;
  height: 100%
}

.mode-green .header-btn-lang, .mode-green .header-btn {
  color: #f2ad82;
  border-color: #f2ad82
}

.mode-orange .header-btn-lang, .mode-orange .header-btn {
  color: #fff;
  border-color: #fff
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menu {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1rem;
}

.menu-item {
  display: inline-block;
  margin: 0 4em;
}

@media only screen and (max-width: 1400px) {
  .menu-item {
    margin: 0 2em;
  }
}

.menu-item a {
  font-family: "sasa";
  font-size: 1.2em;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: color 1s;
  transition: color 1s;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.menu-item a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 0;
  height: 0.5em;
  margin-left: -.25em;
  -webkit-transition: width 0.3s, background 0.3s;
  transition: width 0.3s, background 0.3s;
  background: rgba(242, 173, 130, 0.75);
}

.menu-item a:hover:after {
  width: 100%;
  top: 50%;
}

.menu-meta .menu-item a {
  text-transform: none;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-right: 5px;
}

.content-top {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.content-top-title {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4.6vw
}

.home .content-top-title {
  font-size: 4.8rem;
  white-space: nowrap;
  margin: 0
}

.home .content-top-title span {
  margin: 0 -.14583em;
  display: block;
  text-align: center;
}

.content-body {
  position: relative;
  z-index: 5;
}

.home-background {
  //js-album
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%
}

.home-background .home-album-info {
  opacity: 0
}

.home-scroll-text {
  position: relative;
  z-index: 2;
  height: 100vh
}

.home-scroll-text-container {
  overflow: hidden;
  white-space: nowrap;
  line-height: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.home-scroll-text-top, .home-scroll-text-bottom {
  position: relative;
  letter-spacing: 0.08em
}

.home-scroll-text-top {
  font-size: 12.32vw;
  font-weight: bold;
  left: 50%
}

.home-scroll-text-bottom {
  font-size: 15.06vw;
  left: -50%
}

.home-album-featured {
  position: relative;
  z-index: 2
}

.home-album-featured-container {
  height: 100vh
}

.home-album-featured-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

@media only screen and (max-width: 1024px) {
  .home-album-featured {
    margin-top: 10em;
    padding-top: 5em;
    padding-bottom: 10em;
    background: rgba(34, 66, 39, 0.7)
  }

  .home-album-featured:before {
    content: '';
    position: absolute;
    top: -10em;
    height: 10em;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(34, 66, 39, 0) 0%, rgba(34, 66, 39, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 66, 39, 0)), to(rgba(34, 66, 39, 0.7)));
    background: linear-gradient(to bottom, rgba(34, 66, 39, 0) 0%, rgba(34, 66, 39, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00224227', endColorstr='#b3224227', GradientType=0)
  }

  .home-album-featured-container {
    height: auto
  }

  .home-album-featured-center {
    position: relative;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@media only screen and (max-width: 650px) {
  .home-album-featured-container {
    max-width: 37em;
    margin: 0 auto
  }

  .home-album-featured-spotify {
    margin-bottom: 2.5em
  }
}

@media only screen and (max-width: 500px) {
  .home-album-featured-spotify iframe {
    height: 300px
  }
}

.home-album-list {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  font-size: 0
}

.home-album-list.__ended {
  position: absolute
}

.home-album-list-placeholder {
  height: 100vh;
  margin-top: -100vh
}

.home-album-list-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -270px;
  white-space: nowrap
}

.home-album {
  display: inline-block;
  font-size: 10px;
  font-size: 1rem;
  width: 54em;
  height: 54em;
  position: relative;
  margin: 0 7em;
  //cursor: url("/assets/plus_cursor.png"), auto
}

.home-album.home-album-cover-flow-container {
  cursor: inherit
}

.home-album:first-child {
  margin-left: 0
}

.home-album:last-child {
  margin-right: 0
}

.home-album-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.home-album-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  white-space: normal;
  text-align: center;
  -webkit-backface-visibility: hidden;
  text-shadow: 0 0 1em rgba(11, 10, 16, 0.3)
}

.home-album-cover-flow-container {
  margin-left: 30em
}

.home-album-cover-flow-container .home-album-info {
  white-space: nowrap
}

.home-album-cover-flow {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 60em;
  perspective: 60em;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%
}

.home-album-cover-flow-single {
  width: 20em;
  height: 20em;
  position: absolute;
  top: 0;
  left: 0
}

.home-album-cover-flow-single:nth-child(1) {
  -webkit-transform: translate3d(-56%, 137%, 0em);
  transform: translate3d(-56%, 137%, 0em);
  z-index: 0
}

.home-album-cover-flow-single:nth-child(2) {
  -webkit-transform: translate3d(-146%, -2%, -100em);
  transform: translate3d(-146%, -2%, -100em);
  z-index: -100
}

.home-album-cover-flow-single:nth-child(3) {
  -webkit-transform: translate3d(70%, 97%, -20em);
  transform: translate3d(70%, 97%, -20em);
  z-index: -20
}

.home-album-cover-flow-single:nth-child(4) {
  -webkit-transform: translate3d(110%, 200%, 0em);
  transform: translate3d(110%, 200%, 0em);
  z-index: 0
}

.home-album-cover-flow-single:nth-child(5) {
  -webkit-transform: translate3d(170%, -70%, -87em);
  transform: translate3d(170%, -70%, -87em);
  z-index: -87
}

.home-album-cover-flow-single:nth-child(6) {
  -webkit-transform: translate3d(215%, 20%, -10em);
  transform: translate3d(215%, 20%, -10em);
  z-index: -10
}

.home-album-cover-flow-single:nth-child(7) {
  -webkit-transform: translate3d(295%, 180%, -35em);
  transform: translate3d(295%, 180%, -35em);
  z-index: -35
}

.home-album-cover-flow-single:nth-child(8) {
  -webkit-transform: translate3d(320%, 90%, 0em);
  transform: translate3d(320%, 90%, 0em);
  z-index: 0
}

.home-album-cover-flow-single:nth-child(9) {
  -webkit-transform: translate3d(1020%, 30%, -120em);
  transform: translate3d(1020%, 30%, -120em);
  z-index: -120
}

.home-album-cover-flow-single:nth-child(10) {
  -webkit-transform: translate3d(860%, 177%, -80em);
  transform: translate3d(860%, 177%, -80em);
  z-index: -80
}

.home-album-cover-flow-single:nth-child(11) {
  -webkit-transform: translate3d(594%, 33%, -20em);
  transform: translate3d(594%, 33%, -20em);
  z-index: -20
}

.home-album-cover-flow-single:nth-child(12) {
  -webkit-transform: translate3d(565%, 170%, -10em);
  transform: translate3d(565%, 170%, -10em);
  z-index: -10
}

.home-album-cover-flow-single:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(11, 10, 16, 0.6)
}

.home-album-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  cursor: auto
}

.home-album-overlay__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9
}

.home-album-overlay__back-btn {
  position: absolute;
  top: 0.45em;
  left: 0.5em;
  background: none;
  border: none;
  padding: 0;
  font-size: 4em;
  line-height: 0
}

.home-album-overlay__title {
  color: #b3b4b7;
  font-family: "sasa";
  font-size: 1.8em;
  font-weight: bold;
  margin: 1.38889em 0 0 0;
  letter-spacing: 0.1em
}

.home-album-overlay__list {
  font-weight: 200
}

.home-album-overlay__list li {
  display: block;
  margin: .3125em 0
}

.home-album-overlay__list a {
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: normal
}

.home-album-overlay__spotify {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em
}

.home-album-overlay__spotify iframe {
  display: block;
  width: 100%;
  max-width: 30em;
  margin: 0 auto
}

.huge-link {
  display: inline-block;
  position: relative;
  font-size: 4em;
  letter-spacing: 0.07em;
  padding: 0;
  background: none;
  border: none;
  text-transform: lowercase;
  text-decoration: none
}

.huge-link [class^=icon-], .huge-link [class*=" icon-"] {
  margin-left: .5em;
  vertical-align: middle
}

@media only screen and (max-width: 1024px) {
  .huge-link {
    font-size: 36px;
    font-size: 3.6rem
  }
}

@media only screen and (max-width: 1024px) {
  .huge-link {
    font-size: 30px;
    font-size: 3rem
  }
}

@media only screen and (max-width: 500px) {
  .huge-link {
    font-size: 24px;
    font-size: 2.4rem
  }
}

.side-menu {
  display: none;
  position: fixed;
  z-index: 2500;
  left: 8.8em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.side-menu-current-label-wrapper {
  display: none
}

.no-label .side-menu-current-label-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 18px;
  font-size: 1.8rem;
  white-space: nowrap;
  text-transform: lowercase;
  line-height: 0;
  font-weight: 300;
  letter-spacing: 0.05em
}

.side-menu-current-label {
  position: absolute;
  padding-left: .83333em;
  top: 0;
  left: 0;
  -webkit-transform-origin: center center -5px;
  -ms-transform-origin: center center -5px;
  transform-origin: center center -5px;
  -webkit-transition: color 1s;
  transition: color 1s
}

.mode-orange .side-menu-current-label {
  color: #224227
}

@media all and (max-height: 780px) {
  .side-menu-current-label {
    display: none
  }
}

.side-menu-item {
  display: block;
  position: relative;
  white-space: nowrap;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  padding-left: 1.5em
}

.side-menu-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 4px;
  font-size: .4rem;
  -webkit-transition: width 0.3s, height 0.3s, margin 0.3s, border 0.3s;
  transition: width 0.3s, height 0.3s, margin 0.3s, border 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.5em #fff solid
}

.mode-orange .side-menu-item:before {
  border-color: #224227
}

.side-menu-item.spy-active:before, .side-menu-item:hover:before {
  width: 2em;
  height: 2em;
  margin-left: -0.5em
}

.no-label .side-menu-item {
  padding-left: 1em
}

.no-label .side-menu-item:hover {
  padding-left: 1.5em
}

.side-menu-label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  -webkit-transition: color 1s;
  transition: color 1s
}

.mode-orange .side-menu-label {
  color: #224227
}

.spy-active .side-menu-label {
  font-weight: 600
}

.no-label .side-menu-label {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s
}

.no-label .side-menu-item:hover .side-menu-label {
  opacity: 1
}

.side-menu-separator {
  width: 1px;
  height: 1em;
  background: rgba(255, 255, 255, 0.25);
  margin: 0.5em 0.1em;
  -webkit-transition: background 1s;
  transition: background 1s
}

.mode-orange .side-menu-separator {
  background: rgba(34, 66, 39, 0.25)
}

@media only screen and (max-width: 1400px) {
  .side-menu {
    left: 5.8em
  }
}

@media only screen and (max-width: 1024px) {
  .side-menu {
    display: none !important
  }
}

.mouse-scroll {
  position: absolute;
  z-index: 1500;
  top: 100vh;
  left: 50%;
  -webkit-transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  margin-top: -4em;
  text-align: center
}

.mouse-scroll-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.07143em
}

.mouse-scroll-anim {
  font-size: 9px;
  font-size: .9rem;
  width: 2.6em;
  height: 3.6em;
  border-radius: 1.3em;
  border: 0.3em solid #fff;
  display: inline-block;
  position: relative
}

.mouse-scroll-anim:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0.65em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 0.2em;
  background: #fff;
  -webkit-animation: scrollwheel 2.5s linear infinite;
  animation: scrollwheel 2.5s linear infinite;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.home-background-fade {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #224227
}

@-webkit-keyframes scrollwheel {
  68% {
    height: 0.4em;
    top: 0.65em
  }
  76% {
    height: 1.5em;
    top: 0.65em
  }
  84%, 92% {
    top: 1.75em;
    height: 0.4em
  }
}

@keyframes scrollwheel {
  68% {
    height: 0.4em;
    top: 0.65em
  }
  76% {
    height: 1.5em;
    top: 0.65em
  }
  84%, 92% {
    top: 1.75em;
    height: 0.4em
  }
}
