$primary: "teal";
$accent: "pink";
$warn: "red";

@import 'ember-paper';
@import 'normalize';

.header {
  padding: 3em 0 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table;
}

.header-cta-button:after {
  clear: both;
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table;
}

.header-container {
  position: relative;
  z-index: 0;
  padding: 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 1s;
  transition: background 1s;
}

.header-logo-link {
  font-size: 5.6rem;
  line-height: 1;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.header-logo-link [class^=icon-], .header-logo-link [class*=" icon-"] {
  display: block;
}


.header-btn {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  border: .13333em solid #fff;
  padding: .46667em .66667em;
  text-decoration: none;
  max-width: 16.66667em;
}

.header-btn-lang {
  font-size: 1.1rem;
  border: .18182em solid #fff;
  padding: .81818em;
  text-decoration: none;
  text-transform: uppercase;
}

.header-btn-lang, .header-btn {
  display: block;
  float: right;
  font-weight: bold;
  -webkit-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
  position: relative;
  z-index: 0;
}

.header-cta-button {
  min-height: 1px;
  zoom: 1;
  overflow: visible !important
}

.header-cta-button:before, .header-cta-button:after {
  content: "";
  display: table
}

.header-cta-button:after {
  clear: both
}

.header-btn-lang, .header-btn {
  display: block;
  float: right;
  font-weight: bold;
  -webkit-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
  position: relative;
  z-index: 0
}

.header-btn-lang:after, .header-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: top 0.3s, height 0.3s, background 1s;
  transition: top 0.3s, height 0.3s, background 1s
}

.mode-green .header-btn-lang:after, .mode-green .header-btn:after {
  background: #f2ad82
}

.header-btn-lang:hover, .header-btn:hover {
  color: #0b0a10
}

.mode-green .header-btn-lang:hover, .mode-green .header-btn:hover {
  color: #224227
}

.mode-orange .header-btn-lang:hover, .mode-orange .header-btn:hover {
  color: #0b0a10
}

.header-btn-lang:hover:after, .header-btn:hover:after {
  top: 0;
  height: 100%
}

.mode-green .header-btn-lang, .mode-green .header-btn {
  color: #f2ad82;
  border-color: #f2ad82
}

.mode-orange .header-btn-lang, .mode-orange .header-btn {
  color: #fff;
  border-color: #fff
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menu {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1rem;
}

.menu-item {
  display: inline-block;
  margin: 0 4em;
}

@media only screen and (max-width: 1400px) {
  .menu-item {
    margin: 0 2em;
  }
}

.menu-item a {
  font-family: "sasa";
  font-size: 1.2em;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: color 1s;
  transition: color 1s;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.menu-item a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 0;
  height: 0.5em;
  margin-left: -.25em;
  -webkit-transition: width 0.3s, background 0.3s;
  transition: width 0.3s, background 0.3s;
  background: rgba(242, 173, 130, 0.75);
}

.menu-item a:hover:after {
  width: 100%;
  top: 50%;
}

.menu-meta .menu-item a {
  text-transform: none;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-right: 5px;
}

