* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'sasa';
  src: url("/assets/fonts/sasa-regular.otf");
  src: url("/assets/fonts/sasa-regular.otf?#iefix") format("embedded-opentype"), url("/assets/fonts/sasa-regular-webfont.woff2") format("woff2"), url("/assets/fonts/sasa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'sasa';
  src: url("/assets/fonts/sasa-medium.otf");
  src: url("/assets/fonts/sasa-medium.otf?#iefix") format("embedded-opentype"), url("/assets/fonts/sasa-medium-webfont.woff2") format("woff2"), url("/assets/fonts/sasa-medium-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'sasa';
  src: url("/assets/fonts/sasa-bold.otf");
  src: url("/assets/fonts/sasa-bold.otf?#iefix") format("embedded-opentype"), url("/assets/fonts/sasa-bold-webfont.woff2") format("woff2"), url("/assets/fonts/sasa-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'sasa';
  src: url("/assets/fonts/sasa-light.otf");
  src: url("/assets/fonts/sasa-light.otf?#iefix") format("embedded-opentype"), url("/assets/fonts/sasa-light-webfont.woff2") format("woff2"), url("/assets/fonts/sasa-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal
}
html {
  font-size: 10px;
}

body {
  background-color: #0b0a10;
  color: #fff;
  font-family: "sasa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul {
  font-family: "sasa";
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

li {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.relative {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.above-1 {
  z-index: 1
}

h2 {
  font-family: "sasa";
  font-size: 65px;
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 0.05em;
  margin: 0 0 .53846em;
}

h5, .year-tag {
  font-family: "sasa";
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: 0.05em;
  margin: 0;
}
